<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.opms.mappers.PmsProjectsTestMapper" >
  <resultMap id="BaseResultMap" type="com.opms.entity.PmsProjectsTest" >
    <id column="testid" property="testid" jdbcType="BIGINT" />
    <result column="taskid" property="taskid" jdbcType="BIGINT" />
    <result column="needsid" property="needsid" jdbcType="BIGINT" />
    <result column="userid" property="userid" jdbcType="BIGINT" />
    <result column="projectid" property="projectid" jdbcType="BIGINT" />
    <result column="acceptid" property="acceptid" jdbcType="BIGINT" />
    <result column="completeid" property="completeid" jdbcType="BIGINT" />
    <result column="ccid" property="ccid" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="BIT" />
    <result column="os" property="os" jdbcType="VARCHAR" />
    <result column="browser" property="browser" jdbcType="VARCHAR" />
    <result column="attachment" property="attachment" jdbcType="VARCHAR" />
    <result column="completed" property="completed" jdbcType="INTEGER" />
    <result column="created" property="created" jdbcType="INTEGER" />
    <result column="changed" property="changed" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="BIT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.opms.entity.PmsProjectsTest" extends="BaseResultMap" >
    <result column="desc" property="desc" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    testid, taskid, needsid, userid, projectid, acceptid, completeid, ccid, name, level, 
    os, browser, attachment, completed, created, changed, status
  </sql>
  <sql id="Blob_Column_List" >
    desc
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.opms.entity.PmsProjectsTestExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from pms_projects_test
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.opms.entity.PmsProjectsTestExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pms_projects_test
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from pms_projects_test
    where testid = #{testid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pms_projects_test
    where testid = #{testid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.opms.entity.PmsProjectsTestExample" >
    delete from pms_projects_test
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.opms.entity.PmsProjectsTest" >
    insert into pms_projects_test (testid, taskid, needsid, 
      userid, projectid, acceptid, 
      completeid, ccid, name, 
      level, os, browser, attachment, 
      completed, created, changed, 
      status, desc)
    values (#{testid,jdbcType=BIGINT}, #{taskid,jdbcType=BIGINT}, #{needsid,jdbcType=BIGINT}, 
      #{userid,jdbcType=BIGINT}, #{projectid,jdbcType=BIGINT}, #{acceptid,jdbcType=BIGINT}, 
      #{completeid,jdbcType=BIGINT}, #{ccid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{level,jdbcType=BIT}, #{os,jdbcType=VARCHAR}, #{browser,jdbcType=VARCHAR}, #{attachment,jdbcType=VARCHAR}, 
      #{completed,jdbcType=INTEGER}, #{created,jdbcType=INTEGER}, #{changed,jdbcType=INTEGER}, 
      #{status,jdbcType=BIT}, #{desc,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.opms.entity.PmsProjectsTest" >
    insert into pms_projects_test
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="testid != null" >
        testid,
      </if>
      <if test="taskid != null" >
        taskid,
      </if>
      <if test="needsid != null" >
        needsid,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="projectid != null" >
        projectid,
      </if>
      <if test="acceptid != null" >
        acceptid,
      </if>
      <if test="completeid != null" >
        completeid,
      </if>
      <if test="ccid != null" >
        ccid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="os != null" >
        os,
      </if>
      <if test="browser != null" >
        browser,
      </if>
      <if test="attachment != null" >
        attachment,
      </if>
      <if test="completed != null" >
        completed,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="changed != null" >
        changed,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="desc != null" >
        desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="testid != null" >
        #{testid,jdbcType=BIGINT},
      </if>
      <if test="taskid != null" >
        #{taskid,jdbcType=BIGINT},
      </if>
      <if test="needsid != null" >
        #{needsid,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="projectid != null" >
        #{projectid,jdbcType=BIGINT},
      </if>
      <if test="acceptid != null" >
        #{acceptid,jdbcType=BIGINT},
      </if>
      <if test="completeid != null" >
        #{completeid,jdbcType=BIGINT},
      </if>
      <if test="ccid != null" >
        #{ccid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=BIT},
      </if>
      <if test="os != null" >
        #{os,jdbcType=VARCHAR},
      </if>
      <if test="browser != null" >
        #{browser,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null" >
        #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="completed != null" >
        #{completed,jdbcType=INTEGER},
      </if>
      <if test="created != null" >
        #{created,jdbcType=INTEGER},
      </if>
      <if test="changed != null" >
        #{changed,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=BIT},
      </if>
      <if test="desc != null" >
        #{desc,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.opms.entity.PmsProjectsTestExample" resultType="java.lang.Integer" >
    select count(*) from pms_projects_test
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update pms_projects_test
    <set >
      <if test="record.testid != null" >
        testid = #{record.testid,jdbcType=BIGINT},
      </if>
      <if test="record.taskid != null" >
        taskid = #{record.taskid,jdbcType=BIGINT},
      </if>
      <if test="record.needsid != null" >
        needsid = #{record.needsid,jdbcType=BIGINT},
      </if>
      <if test="record.userid != null" >
        userid = #{record.userid,jdbcType=BIGINT},
      </if>
      <if test="record.projectid != null" >
        projectid = #{record.projectid,jdbcType=BIGINT},
      </if>
      <if test="record.acceptid != null" >
        acceptid = #{record.acceptid,jdbcType=BIGINT},
      </if>
      <if test="record.completeid != null" >
        completeid = #{record.completeid,jdbcType=BIGINT},
      </if>
      <if test="record.ccid != null" >
        ccid = #{record.ccid,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.level != null" >
        level = #{record.level,jdbcType=BIT},
      </if>
      <if test="record.os != null" >
        os = #{record.os,jdbcType=VARCHAR},
      </if>
      <if test="record.browser != null" >
        browser = #{record.browser,jdbcType=VARCHAR},
      </if>
      <if test="record.attachment != null" >
        attachment = #{record.attachment,jdbcType=VARCHAR},
      </if>
      <if test="record.completed != null" >
        completed = #{record.completed,jdbcType=INTEGER},
      </if>
      <if test="record.created != null" >
        created = #{record.created,jdbcType=INTEGER},
      </if>
      <if test="record.changed != null" >
        changed = #{record.changed,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=BIT},
      </if>
      <if test="record.desc != null" >
        desc = #{record.desc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update pms_projects_test
    set testid = #{record.testid,jdbcType=BIGINT},
      taskid = #{record.taskid,jdbcType=BIGINT},
      needsid = #{record.needsid,jdbcType=BIGINT},
      userid = #{record.userid,jdbcType=BIGINT},
      projectid = #{record.projectid,jdbcType=BIGINT},
      acceptid = #{record.acceptid,jdbcType=BIGINT},
      completeid = #{record.completeid,jdbcType=BIGINT},
      ccid = #{record.ccid,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      level = #{record.level,jdbcType=BIT},
      os = #{record.os,jdbcType=VARCHAR},
      browser = #{record.browser,jdbcType=VARCHAR},
      attachment = #{record.attachment,jdbcType=VARCHAR},
      completed = #{record.completed,jdbcType=INTEGER},
      created = #{record.created,jdbcType=INTEGER},
      changed = #{record.changed,jdbcType=INTEGER},
      status = #{record.status,jdbcType=BIT},
      desc = #{record.desc,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update pms_projects_test
    set testid = #{record.testid,jdbcType=BIGINT},
      taskid = #{record.taskid,jdbcType=BIGINT},
      needsid = #{record.needsid,jdbcType=BIGINT},
      userid = #{record.userid,jdbcType=BIGINT},
      projectid = #{record.projectid,jdbcType=BIGINT},
      acceptid = #{record.acceptid,jdbcType=BIGINT},
      completeid = #{record.completeid,jdbcType=BIGINT},
      ccid = #{record.ccid,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      level = #{record.level,jdbcType=BIT},
      os = #{record.os,jdbcType=VARCHAR},
      browser = #{record.browser,jdbcType=VARCHAR},
      attachment = #{record.attachment,jdbcType=VARCHAR},
      completed = #{record.completed,jdbcType=INTEGER},
      created = #{record.created,jdbcType=INTEGER},
      changed = #{record.changed,jdbcType=INTEGER},
      status = #{record.status,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.opms.entity.PmsProjectsTest" >
    update pms_projects_test
    <set >
      <if test="taskid != null" >
        taskid = #{taskid,jdbcType=BIGINT},
      </if>
      <if test="needsid != null" >
        needsid = #{needsid,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=BIGINT},
      </if>
      <if test="projectid != null" >
        projectid = #{projectid,jdbcType=BIGINT},
      </if>
      <if test="acceptid != null" >
        acceptid = #{acceptid,jdbcType=BIGINT},
      </if>
      <if test="completeid != null" >
        completeid = #{completeid,jdbcType=BIGINT},
      </if>
      <if test="ccid != null" >
        ccid = #{ccid,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=BIT},
      </if>
      <if test="os != null" >
        os = #{os,jdbcType=VARCHAR},
      </if>
      <if test="browser != null" >
        browser = #{browser,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null" >
        attachment = #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="completed != null" >
        completed = #{completed,jdbcType=INTEGER},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=INTEGER},
      </if>
      <if test="changed != null" >
        changed = #{changed,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=BIT},
      </if>
      <if test="desc != null" >
        desc = #{desc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where testid = #{testid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.opms.entity.PmsProjectsTest" >
    update pms_projects_test
    set taskid = #{taskid,jdbcType=BIGINT},
      needsid = #{needsid,jdbcType=BIGINT},
      userid = #{userid,jdbcType=BIGINT},
      projectid = #{projectid,jdbcType=BIGINT},
      acceptid = #{acceptid,jdbcType=BIGINT},
      completeid = #{completeid,jdbcType=BIGINT},
      ccid = #{ccid,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      level = #{level,jdbcType=BIT},
      os = #{os,jdbcType=VARCHAR},
      browser = #{browser,jdbcType=VARCHAR},
      attachment = #{attachment,jdbcType=VARCHAR},
      completed = #{completed,jdbcType=INTEGER},
      created = #{created,jdbcType=INTEGER},
      changed = #{changed,jdbcType=INTEGER},
      status = #{status,jdbcType=BIT},
      desc = #{desc,jdbcType=LONGVARCHAR}
    where testid = #{testid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.opms.entity.PmsProjectsTest" >
    update pms_projects_test
    set taskid = #{taskid,jdbcType=BIGINT},
      needsid = #{needsid,jdbcType=BIGINT},
      userid = #{userid,jdbcType=BIGINT},
      projectid = #{projectid,jdbcType=BIGINT},
      acceptid = #{acceptid,jdbcType=BIGINT},
      completeid = #{completeid,jdbcType=BIGINT},
      ccid = #{ccid,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      level = #{level,jdbcType=BIT},
      os = #{os,jdbcType=VARCHAR},
      browser = #{browser,jdbcType=VARCHAR},
      attachment = #{attachment,jdbcType=VARCHAR},
      completed = #{completed,jdbcType=INTEGER},
      created = #{created,jdbcType=INTEGER},
      changed = #{changed,jdbcType=INTEGER},
      status = #{status,jdbcType=BIT}
    where testid = #{testid,jdbcType=BIGINT}
  </update>
</mapper>