<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.opms.mappers.PmsProjectsVersionMapper" >
  <resultMap id="BaseResultMap" type="com.opms.entity.PmsProjectsVersion" >
    <id column="versionid" property="versionid" jdbcType="BIGINT" />
    <result column="projectid" property="projectid" jdbcType="BIGINT" />
    <result column="userid" property="userid" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="versioned" property="versioned" jdbcType="INTEGER" />
    <result column="sourceurl" property="sourceurl" jdbcType="VARCHAR" />
    <result column="downurl" property="downurl" jdbcType="VARCHAR" />
    <result column="attachment" property="attachment" jdbcType="VARCHAR" />
    <result column="created" property="created" jdbcType="TIMESTAMP" />
    <result column="changed" property="changed" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.opms.entity.PmsProjectsVersion" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    versionid, projectid, userid, title, versioned, sourceurl, downurl, attachment, created, 
    changed
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.opms.entity.PmsProjectsVersionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from pms_projects_version
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.opms.entity.PmsProjectsVersionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pms_projects_version
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from pms_projects_version
    where versionid = #{versionid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pms_projects_version
    where versionid = #{versionid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.opms.entity.PmsProjectsVersionExample" >
    delete from pms_projects_version
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.opms.entity.PmsProjectsVersion" >
    insert into pms_projects_version (versionid, projectid, userid, 
      title, versioned, sourceurl, 
      downurl, attachment, created, 
      changed, content)
    values (#{versionid,jdbcType=BIGINT}, #{projectid,jdbcType=BIGINT}, #{userid,jdbcType=BIGINT}, 
      #{title,jdbcType=VARCHAR}, #{versioned,jdbcType=INTEGER}, #{sourceurl,jdbcType=VARCHAR}, 
      #{downurl,jdbcType=VARCHAR}, #{attachment,jdbcType=VARCHAR}, #{created,jdbcType=TIMESTAMP}, 
      #{changed,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.opms.entity.PmsProjectsVersion" >
    insert into pms_projects_version
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="versionid != null" >
        versionid,
      </if>
      <if test="projectid != null" >
        projectid,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="versioned != null" >
        versioned,
      </if>
      <if test="sourceurl != null" >
        sourceurl,
      </if>
      <if test="downurl != null" >
        downurl,
      </if>
      <if test="attachment != null" >
        attachment,
      </if>
      <if test="created != null" >
        created,
      </if>
      <if test="changed != null" >
        changed,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="versionid != null" >
        #{versionid,jdbcType=BIGINT},
      </if>
      <if test="projectid != null" >
        #{projectid,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="versioned != null" >
        #{versioned,jdbcType=INTEGER},
      </if>
      <if test="sourceurl != null" >
        #{sourceurl,jdbcType=VARCHAR},
      </if>
      <if test="downurl != null" >
        #{downurl,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null" >
        #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="changed != null" >
        #{changed,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.opms.entity.PmsProjectsVersionExample" resultType="java.lang.Integer" >
    select count(*) from pms_projects_version
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update pms_projects_version
    <set >
      <if test="record.versionid != null" >
        versionid = #{record.versionid,jdbcType=BIGINT},
      </if>
      <if test="record.projectid != null" >
        projectid = #{record.projectid,jdbcType=BIGINT},
      </if>
      <if test="record.userid != null" >
        userid = #{record.userid,jdbcType=BIGINT},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.versioned != null" >
        versioned = #{record.versioned,jdbcType=INTEGER},
      </if>
      <if test="record.sourceurl != null" >
        sourceurl = #{record.sourceurl,jdbcType=VARCHAR},
      </if>
      <if test="record.downurl != null" >
        downurl = #{record.downurl,jdbcType=VARCHAR},
      </if>
      <if test="record.attachment != null" >
        attachment = #{record.attachment,jdbcType=VARCHAR},
      </if>
      <if test="record.created != null" >
        created = #{record.created,jdbcType=TIMESTAMP},
      </if>
      <if test="record.changed != null" >
        changed = #{record.changed,jdbcType=TIMESTAMP},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update pms_projects_version
    set versionid = #{record.versionid,jdbcType=BIGINT},
      projectid = #{record.projectid,jdbcType=BIGINT},
      userid = #{record.userid,jdbcType=BIGINT},
      title = #{record.title,jdbcType=VARCHAR},
      versioned = #{record.versioned,jdbcType=INTEGER},
      sourceurl = #{record.sourceurl,jdbcType=VARCHAR},
      downurl = #{record.downurl,jdbcType=VARCHAR},
      attachment = #{record.attachment,jdbcType=VARCHAR},
      created = #{record.created,jdbcType=TIMESTAMP},
      changed = #{record.changed,jdbcType=TIMESTAMP},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update pms_projects_version
    set versionid = #{record.versionid,jdbcType=BIGINT},
      projectid = #{record.projectid,jdbcType=BIGINT},
      userid = #{record.userid,jdbcType=BIGINT},
      title = #{record.title,jdbcType=VARCHAR},
      versioned = #{record.versioned,jdbcType=INTEGER},
      sourceurl = #{record.sourceurl,jdbcType=VARCHAR},
      downurl = #{record.downurl,jdbcType=VARCHAR},
      attachment = #{record.attachment,jdbcType=VARCHAR},
      created = #{record.created,jdbcType=TIMESTAMP},
      changed = #{record.changed,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.opms.entity.PmsProjectsVersion" >
    update pms_projects_version
    <set >
      <if test="projectid != null" >
        projectid = #{projectid,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        userid = #{userid,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="versioned != null" >
        versioned = #{versioned,jdbcType=INTEGER},
      </if>
      <if test="sourceurl != null" >
        sourceurl = #{sourceurl,jdbcType=VARCHAR},
      </if>
      <if test="downurl != null" >
        downurl = #{downurl,jdbcType=VARCHAR},
      </if>
      <if test="attachment != null" >
        attachment = #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="changed != null" >
        changed = #{changed,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where versionid = #{versionid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.opms.entity.PmsProjectsVersion" >
    update pms_projects_version
    set projectid = #{projectid,jdbcType=BIGINT},
      userid = #{userid,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      versioned = #{versioned,jdbcType=INTEGER},
      sourceurl = #{sourceurl,jdbcType=VARCHAR},
      downurl = #{downurl,jdbcType=VARCHAR},
      attachment = #{attachment,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      changed = #{changed,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where versionid = #{versionid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.opms.entity.PmsProjectsVersion" >
    update pms_projects_version
    set projectid = #{projectid,jdbcType=BIGINT},
      userid = #{userid,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      versioned = #{versioned,jdbcType=INTEGER},
      sourceurl = #{sourceurl,jdbcType=VARCHAR},
      downurl = #{downurl,jdbcType=VARCHAR},
      attachment = #{attachment,jdbcType=VARCHAR},
      created = #{created,jdbcType=TIMESTAMP},
      changed = #{changed,jdbcType=TIMESTAMP}
    where versionid = #{versionid,jdbcType=BIGINT}
  </update>
</mapper>