<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.opms.mappers.PmsUsersProfileMapper" >
  <resultMap id="BaseResultMap" type="com.opms.entity.PmsUsersProfile" >
    <id column="userid" property="userid" jdbcType="BIGINT" />
    <result column="realname" property="realname" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="BIT" />
    <result column="birth" property="birth" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="webchat" property="webchat" jdbcType="VARCHAR" />
    <result column="qq" property="qq" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="emercontact" property="emercontact" jdbcType="VARCHAR" />
    <result column="emerphone" property="emerphone" jdbcType="VARCHAR" />
    <result column="departid" property="departid" jdbcType="BIGINT" />
    <result column="positionid" property="positionid" jdbcType="BIGINT" />
    <result column="lognum" property="lognum" jdbcType="INTEGER" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="lasted" property="lasted" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    userid, realname, sex, birth, email, webchat, qq, phone, tel, address, emercontact, 
    emerphone, departid, positionid, lognum, ip, lasted
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.opms.entity.PmsUsersProfileExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pms_users_profile
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from pms_users_profile
    where userid = #{userid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pms_users_profile
    where userid = #{userid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.opms.entity.PmsUsersProfileExample" >
    delete from pms_users_profile
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.opms.entity.PmsUsersProfile" >
    insert into pms_users_profile (userid, realname, sex, 
      birth, email, webchat, 
      qq, phone, tel, address, 
      emercontact, emerphone, departid, 
      positionid, lognum, ip, 
      lasted)
    values (#{userid,jdbcType=BIGINT}, #{realname,jdbcType=VARCHAR}, #{sex,jdbcType=BIT}, 
      #{birth,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{webchat,jdbcType=VARCHAR}, 
      #{qq,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{emercontact,jdbcType=VARCHAR}, #{emerphone,jdbcType=VARCHAR}, #{departid,jdbcType=BIGINT}, 
      #{positionid,jdbcType=BIGINT}, #{lognum,jdbcType=INTEGER}, #{ip,jdbcType=VARCHAR}, 
      #{lasted,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.opms.entity.PmsUsersProfile" >
    insert into pms_users_profile
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        userid,
      </if>
      <if test="realname != null" >
        realname,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="birth != null" >
        birth,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="webchat != null" >
        webchat,
      </if>
      <if test="qq != null" >
        qq,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="emercontact != null" >
        emercontact,
      </if>
      <if test="emerphone != null" >
        emerphone,
      </if>
      <if test="departid != null" >
        departid,
      </if>
      <if test="positionid != null" >
        positionid,
      </if>
      <if test="lognum != null" >
        lognum,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="lasted != null" >
        lasted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="realname != null" >
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=BIT},
      </if>
      <if test="birth != null" >
        #{birth,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="webchat != null" >
        #{webchat,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="emercontact != null" >
        #{emercontact,jdbcType=VARCHAR},
      </if>
      <if test="emerphone != null" >
        #{emerphone,jdbcType=VARCHAR},
      </if>
      <if test="departid != null" >
        #{departid,jdbcType=BIGINT},
      </if>
      <if test="positionid != null" >
        #{positionid,jdbcType=BIGINT},
      </if>
      <if test="lognum != null" >
        #{lognum,jdbcType=INTEGER},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="lasted != null" >
        #{lasted,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.opms.entity.PmsUsersProfileExample" resultType="java.lang.Integer" >
    select count(*) from pms_users_profile
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update pms_users_profile
    <set >
      <if test="record.userid != null" >
        userid = #{record.userid,jdbcType=BIGINT},
      </if>
      <if test="record.realname != null" >
        realname = #{record.realname,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        sex = #{record.sex,jdbcType=BIT},
      </if>
      <if test="record.birth != null" >
        birth = #{record.birth,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.webchat != null" >
        webchat = #{record.webchat,jdbcType=VARCHAR},
      </if>
      <if test="record.qq != null" >
        qq = #{record.qq,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null" >
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.tel != null" >
        tel = #{record.tel,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.emercontact != null" >
        emercontact = #{record.emercontact,jdbcType=VARCHAR},
      </if>
      <if test="record.emerphone != null" >
        emerphone = #{record.emerphone,jdbcType=VARCHAR},
      </if>
      <if test="record.departid != null" >
        departid = #{record.departid,jdbcType=BIGINT},
      </if>
      <if test="record.positionid != null" >
        positionid = #{record.positionid,jdbcType=BIGINT},
      </if>
      <if test="record.lognum != null" >
        lognum = #{record.lognum,jdbcType=INTEGER},
      </if>
      <if test="record.ip != null" >
        ip = #{record.ip,jdbcType=VARCHAR},
      </if>
      <if test="record.lasted != null" >
        lasted = #{record.lasted,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update pms_users_profile
    set userid = #{record.userid,jdbcType=BIGINT},
      realname = #{record.realname,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=BIT},
      birth = #{record.birth,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      webchat = #{record.webchat,jdbcType=VARCHAR},
      qq = #{record.qq,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      tel = #{record.tel,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      emercontact = #{record.emercontact,jdbcType=VARCHAR},
      emerphone = #{record.emerphone,jdbcType=VARCHAR},
      departid = #{record.departid,jdbcType=BIGINT},
      positionid = #{record.positionid,jdbcType=BIGINT},
      lognum = #{record.lognum,jdbcType=INTEGER},
      ip = #{record.ip,jdbcType=VARCHAR},
      lasted = #{record.lasted,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.opms.entity.PmsUsersProfile" >
    update pms_users_profile
    <set >
      <if test="realname != null" >
        realname = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=BIT},
      </if>
      <if test="birth != null" >
        birth = #{birth,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="webchat != null" >
        webchat = #{webchat,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="emercontact != null" >
        emercontact = #{emercontact,jdbcType=VARCHAR},
      </if>
      <if test="emerphone != null" >
        emerphone = #{emerphone,jdbcType=VARCHAR},
      </if>
      <if test="departid != null" >
        departid = #{departid,jdbcType=BIGINT},
      </if>
      <if test="positionid != null" >
        positionid = #{positionid,jdbcType=BIGINT},
      </if>
      <if test="lognum != null" >
        lognum = #{lognum,jdbcType=INTEGER},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="lasted != null" >
        lasted = #{lasted,jdbcType=DATE},
      </if>
    </set>
    where userid = #{userid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.opms.entity.PmsUsersProfile" >
    update pms_users_profile
    set realname = #{realname,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=BIT},
      birth = #{birth,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      webchat = #{webchat,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      emercontact = #{emercontact,jdbcType=VARCHAR},
      emerphone = #{emerphone,jdbcType=VARCHAR},
      departid = #{departid,jdbcType=BIGINT},
      positionid = #{positionid,jdbcType=BIGINT},
      lognum = #{lognum,jdbcType=INTEGER},
      ip = #{ip,jdbcType=VARCHAR},
      lasted = #{lasted,jdbcType=DATE}
    where userid = #{userid,jdbcType=BIGINT}
  </update>
</mapper>